! ██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
!  ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
!  ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
! ██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
! ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝

! special
*.foreground:   #B7B7B7
*.background:   #111111
*.cursorColor:  #888888

! black
*.color0:       #12140f
*.color8:       #ab8dc1

! red
*.color1:       #1a1e17
*.color9:       #ad8a66

! green
*.color2:       #2b2f26
*.color10:      #6e93a8

! yellow
*.color3:       #41483b
*.color11:      #a18a75

! blue
*.color4:       #5e6756
*.color12:      #73b5a5

! magenta
*.color5:       #818c75
*.color13:      #7cb0a3

! cyan
*.color6:       #a9b79a
*.color14:      #81a59c

! white
*.color7:       #d6e9c4
*.color15:      #b196c5
URxvt.scrollBar: false
URxvt.font: xft:unifont
URxvt.letterSpace: -1
